Для решения данной задачи

In [1]:
import osmnx as ox
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
import folium
import geopandas as gpd
import pandas as pd
from shapely.geometry import LineString
import math

Создал датафрем заказов. Для этого создал в ChatGPT CSV таблицу (имена и номера все придуманные).

In [2]:
df = pd.read_csv('data.csv', delimiter=';')
df.head()

,user_id,name,phone,start_lat,start_lon,end_lat,end_lon,price
0,abc1,Александр,79141234567,62.032736,129.686946,62.070534,129.723418,150
1,def2,Екатерина,79246789123,62.002185,129.711816,62.081098,129.741987,220
2,ghi3,Ирина,79641234987,62.064982,129.751246,62.036242,129.700507,130
3,jkl4,Семен,79142367890,62.055789,129.678237,62.091062,129.720122,260
4,mno5,Мария,79645671234,62.042524,129.726823,62.065895,129.679482,230

In [3]:
ox.settings.log_console=True
ox.settings.use_cache=True
locator = Nominatim(user_agent="myapp")

Задаем координаты начала и конца основного маршрута:

In [4]:
start = (62.02361, 129.69306)
end = (62.08339, 129.73959)
place = 'Yakutsk, Russia'

popup_start = locator.reverse(start).address
popup_end = locator.reverse(end).address

Создаем графы:

In [5]:
G = ox.graph_from_place(place, network_type = 'drive')

Поиск ближайшей точки к начальному и конечному местоположениям:

In [6]:
orig = ox.distance.nearest_nodes(G, start[1], start[0], return_dist=False)
dest = ox.distance.nearest_nodes(G, end[1], end[0], return_dist=False)

Поиск кратчайшего пути:

In [7]:
route = ox.shortest_path(G, orig, dest, weight='length')

Создание GeoDataFrame

In [8]:
route_edges = ox.utils_graph.route_to_gdf(G, route, 'length')

Создание списка координат вершин короткого пути:

In [9]:
latitude_list = []
longitude_list = []

for geom in route_edges['geometry']:
    if isinstance(geom, LineString):
        longitudes, latitudes = geom.xy
        latitude_list.extend(latitudes)
        longitude_list.extend(longitudes)

route_coordinates = pd.DataFrame({'latitude': latitude_list, 'longitude': longitude_list})

route_coordinates.head()

    latitude   longitude
0  62.024031  129.692802
1  62.023923  129.692664
2  62.023519  129.692096
3  62.023331  129.691848
4  62.023015  129.691663

    здесь будет функция проверяющая лежат ли обе точки маршрута попутчика не далее определенного расстояния от основного маршрута и лежи ли маршрут попутчика в попутном направлении основного маршрута. ЕЩЕ НЕ ГОТОВА

reference_points = route_coordinates['latitude','longitude']
compare_points = df[('start_lat', 'start_lon'), ('end_lat', 'end_lon')]


def are_points_within_distance(point1, point2, threshold_km):
    distance = geodesic(point1, point2).kilometers
    return distance <= threshold_km

def check_points_within_table(reference_points, compare_points, threshold_km):
    for ref_point in reference_points:
        for comp_point in compare_points:
            if are_points_within_distance(ref_point, comp_point, threshold_km):
                return True
    return False

Выводим карту и настраиваем маркеры основного маршрута.

In [ ]:
m = route_edges.explore(tiles="cartodbpositron", style_kwds={"weight": 5})
folium.Marker(
    location=[start[0], start[1]],
    popup=popup_start,
    icon=folium.Icon(color='green'),
).add_to(m)
folium.Marker(
    location=[end[0], end[1]],
    popup=popup_end,
    icon=folium.Icon(color="blue"),
).add_to(m)
m